*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-image: url(./img/bg-header-mobile.png);
    background-repeat: no-repeat;
    font-family: "Bai Jamjuree", sans-serif;

}

body img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 50px;
}
h1{
    width: 320px;
    font-size: 30px;
    font-weight: 600;
    padding-top: 60px;
    text-align: center;
    color:hsl(210, 10%, 33%);
    display: block;
    margin-left: auto;
    margin-right: auto;
}

p{
    width: 280px;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    margin-top: 30px;
    color:hsl(201, 11%, 66%);
    line-height:2;
    display: block;
    margin-left: auto;
    margin-right: auto;
}


    .button-iOS{
     background-color: hsl(171, 66%, 44%);
     font-weight: 400;
     font-size: 14px;
     letter-spacing:2px;
     align-items: center;
     margin: 30px 0 30px 0;
     padding: 18px;
     width: 300px;
     border-radius: 40px;
     color:white;
     border-style: none;
     display: block;
     margin-left: auto;
     margin-right: auto;
     box-shadow: 0 3px hsl(171, 66%, 37%);
     filter: drop-shadow(1px 1px 5px hsl(171, 66%, 44%));
    }

    .button-iOS:hover{
        background-color: hsl(171, 81%, 61%);
    }
    
    .button-Mac{
        background-color: hsl(233, 100%, 69%);
        font-weight: 400;
        font-size: 14px;
        letter-spacing:2px;
        align-items: center;
        margin: 10px 0 60px 0;
        padding: 18px;
        width: 300px;
        border-radius: 40px;
        color:white;
        border-style: none;
        display: block;
        margin-left: auto;
        margin-right: auto;
        box-shadow: 0 3px hsl(233, 46%, 51%);
        filter: drop-shadow(1px 1px 5px hsl(233, 100%, 69%));
    }

    .button-Mac:hover{
        background-color: hsl(233, 98%, 80%);;
    }

    h2{
        width: 320px;
        font-size: 26px;
        font-weight: 600;
        padding-top: 60px;
        text-align: center;
        color:hsl(210, 10%, 33%);
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .section3 img{
        text-align: center;
        width: 300px;
        padding: 30px;
    }

    .section3{
        margin-bottom: 120px;
    }

    .section3{
        margin-bottom: 80px;
    }

    footer{
        background-color: hsla(202, 11%, 66%, 0.108);
        position: relative;
        bottom: -30px;

    }
    
    footer img{
        width: 70px;
margin-top: 40px;
margin-bottom: 40px;
    }
    
    .socialmedia{
        width: 150px;
        display: flex;
        justify-content: space-between;
        padding: 20px;
    }
    .socialmedia img{
        width: 20px;
        height: 20px;
        padding: 10px;
        margin-bottom: 10px;
    }
    
    footer p{
        color:hsl(213, 10%, 47%);
        font-size: 20px;
        padding: 6px;
        margin-top: 10px;
    }

    footer p:hover{
        color:hsl(171, 66%, 44%);
    }

    .social{
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 200px;
        align-items: center;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 30px;

    }
    
    .social img{
        width: 30px;
    }

    .social img:hover{
        filter: invert(100%);
    }

    @media (min-width:376px){
body{
    background-image: url(./img/bg-header-desktop.png);
    background-repeat: no-repeat;
    background-size: 100%;
}

body img{
    width: 130px;
}
h1{
    font-size: 48px;
    width: 750px;
}
p{
    font-size: 22px;
    width: 750px;
}
.section-button{
    display: flex;
    flex-direction:row;
    justify-content: center;
    align-items: center;
    gap: 18px;
    padding-top: 40px;
    padding-bottom: 40px;
}
.button-iOS{
    width: 240px;
    margin: 0;
    font-size: 16px;
    font-weight: 400;
    padding: 20px 12px;
}

.button-Mac{
    width: 240px;
    margin: 0;
    font-size: 16px;
    font-weight: 400;
    padding: 20px 12px;
}

h2{
    font-size: 40px;
    width: 750px;
    margin-top: 120px;
}
.section2 p{
    font-size: 20px;
    width: 800px;
}

.section3{
    display: flex;
    flex-direction: row;
    margin-top: 60px;
}
.section3 img{
    float: left;
    width: 1000px;
    position: relative;
    left:-200px;
}

.section3-rigth{
width: 200px;
}
.section3 h2{
    font-size: 24px;
    font-weight: 700;
    position: relative;
    left: -100px;
text-align: left;
position: relative;
margin-left: 10px;
margin-top: 20px;
margin-bottom: 10px;
}

.section3 p{
    font-size: 20px;
    text-align: left;
    position: relative;
    left: -90px;
    margin-right: 200px;
    margin-top: 10px;
    width: 450px;
}
.section4 img{
    width: 1000px;
    }
.card{
    display: flex;
    flex-direction: row;
justify-content: center;
gap: 30px;
margin-top: 62px;
}

.card1{
    text-align: center;
    margin: 0;
    padding:0;
}

.card1 img{
width: 54px;
    margin: 30px;
    padding: 0;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.card h2{
    font-size: 24px;
    margin: 0;
    padding:0;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 400px;
}

.card p{
    font-size: 18px;
    margin: 0;
    padding:10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 400px;
}

.logotype{
    display: flex;
    flex-direction: row;
justify-content: center;
margin-top: 62px;
align-items: center;
margin-left: auto;
margin-right: auto;
width: 90%;
}
footer{
    display: flex;
    flex-direction: row;
    align-items: top;
    gap: 10px;
    margin-bottom: 52px;
    margin-top: 120px;
padding-top: 60px;
position: relative;
bottom: -60px;
    
}

.contact{
    display: flex;
    flex-direction: row;
justify-content: center;
    margin-left: 100px;
    gap: 20px;
}

footer img{
    position: relative;
    bottom: 60px;
    margin-left: 180px;
    width: 60px;
}

footer p{
    font-weight:500;
width: 200px;
text-align: left;
}

.social{
padding-right: 5px;
    width: 100px;
}

.social img{
    margin: 10px;
}

}


    